<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= @product.errors.count %> 个错误发生导致无法被保存</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t("depot.Title")%><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= t("depot.Description")%><br>
    <%= f.text_area :description, :rows => 6 %>
  </div> 
  <div class="field">
    <%= t("depot.imgurl")%><br>
    <%#= f.text_field :image_url %>
    <%= f.file_field :image_url%>
  </div>
  <div class="field">
    <%= t("depot.price")%><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
