<div id="product_list">
<h1><%= t("depot.productList")%></h1>
  <% if notice.present? %>
      <div id="error_explanation">
        <ul>
          <li><%= notice %></li>
        </ul>
      </div>
  <% end %>
<table>
    <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd','list_line_even')%>">
        <td><%=image_tag(product.image_url,:class => 'list_image')%></td>
        <td class="list_description">
          <dl>
            <dt><%= product.title%></dt>
            <dd><%= truncate(strip_tags(product.description),:length => 80)%></dd>
          </dl>
        </td>
       
        <td class="list_actions">
          <%= link_to t("depot.show"), product %><br>
          <%= link_to t("depot.edit"), edit_product_path(product) %><br>
          <%= link_to t("depot.destroy"), product, method: :delete, data: { confirm: t("depot.areyousure") } %>
        </td>
        
      </tr>
    <% end %>
  
</table>
</div>

<br>

<%= link_to t("depot.newProduct"), new_product_path %>
